@mixin fl(
  $jc: center,
  $alit: center,
  $flexdir: column,
  $gap: 0,
  $rgap: 0,
  $cgap: 0
) {
  display: flex;
  justify-content: $jc;
  align-items: $alit;
  flex-direction: $flexdir;
}

@mixin displayFlex($fdir, $jc, $alit, $gap) {
  display: flex;
  flex-direction: $fdir;
  justify-content: $jc;
  align-items: $alit;
  gap: $gap;
}
