@use "../../../../../public/assets/styles/all-styles.scss" as *;

.contact-list-container {
  background-color: $white;
  width: fit-content;
  height: 200px;
  @include displayFlex(column, flex-start, center, 5px);
  @include box-shadow-style();
  padding: 15px 30px;
  overflow-y: scroll;

  .add-new-contact-box {
    .add-new-contact-btn {
      @include press-button-style(352px, 56px, 16px);
    }
  }
}
